@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlOgEI-65pc1uHHusEBt4aX4.woff2") format("woff2"), url("http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlDLXPPWpYIJRcQ99gLLWTOQ.woff") format("woff");
}

*{
	box-sizing: border-box;
}

#pagetitle {
   font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
   font-size: 40px;
   font-weight: 400;
   letter-spacing: -1px;
   line-height: 1.2;
   text-decoration: none;
   font-style: normal;
   text-transform: uppercase;
   color: #404040;
   float: right;
   position: absolute;
   top: 15%;
   right: 4%;
}

g.legend {
	margin-top: 40%;
}

#credit {
	font-family: "Source Sans Pro";
	color: #767676;
	position: absolute;
	top: 20%;
	left: 68%;
}

#interactive_menu {
	background-image:
		linear-gradient(
			to top right,
			#222222, #000066); 
	line-height: 1.45;
	width: 110%;
	height: 50px;
	position: absolute;
	top: 0px;
	margin-left: -5%;
}

.date {
	font-family: "Source Sans Pro";
	padding: 3px;
	float: left;
	text-transform: uppercase;
}

.by {
	font-family: "Source Sans Pro";
	padding: 3px;
	float: left;
	text-transform: italicize;
}

.id {
	font-family: "Source Sans Pro";
	padding: 3px;
	float: left;
	text-transform: uppercase;
}

path:hover {
	border: 3px solid black;
}

.states {
    stroke: #000;
    fill-opacity: .7;
}

#interactive_panel {
	width: 27%;
	position: absolute;
	top: 27%;
	left: 2.4%;
    background: #eee; 
}


#option_menu {
	width: 100%;
	height:100px;
}

#tittle1{
	top: 28%;
	margin-top: 2%;
	margin-left: 14%;
	width: 20%;
	float: left;
}

#tittle2{
	top:28%;
	margin-top: 2%;
	margin-left: 30%;
	width: 20%;
	float: left;
}

#selectBar, #selectBarColor {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 5px;
   border-radius: 5px;
   background: #f6f6f6;
   font-size: 1em; 
   color: #404040;
   width: 40%;
}

#selectBar:hover , #selectBarColor:hover {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 5px;
   border-radius: 5px;
   background: #222;
   font-size: 1em; 
   color: white;
}

#selectBar {
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 0;
}

#selectBarColor{
	margin-left: 10%;
	margin-bottom: 0;
	margin-top: 3%;
	margin-right: 2%;
}

.tabp {
	font-family: Source Sans Pro;
}

#tooltip {
	background: rgba(253, 249, 210, 0.4); 
	color: #464646;
	display: none;
	font-size: 18px;
	text-align: left;
	width: 18%;
	z-index: 1001;
	line-height: 200%;
	font-family: "Source Sans Pro";
    position: absolute;
    top: 27%;
    left: 35%;
    padding: 1%;
    border:2px solid black;
}

#tooltipTest{
	z-index: 1000;
	background-color: rgba(193, 184, 184, 1);
	display: inline-block;
	border-radius: 6px;
}


#referencemap{
	position: absolute;
	top: 60%;
	left: 2.4%;
	width: 27%;
	background: #eee;
	border: 2px solid black;
	padding: 1%;
	display: block;
}

#referenceSVG{
	width: 100%;
	height: 100%;
	z-index: 1100;
}


body>svg {
	float: right;
	width: 64%;
	height: 34em;
    position: absolute;
    top: 27%;
    left: 35%;
	background: #eee;
	border:2px solid black;
}

.country {
  stroke: red;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.graticule-outline {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

/*#keybox {
	width:338px;
	height:22px;
 	background-color:#ffffcc;
 	margin-top: 20px;
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ffffcc, endColorstr=#a1dab4);
 	background-image:-moz-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:-webkit-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:-o-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
	background-image:-ms-linear-gradient(left, #ffffcc 0%, #a1dab4 25%,#41b6c4 50%,#225ea8 100%);
 	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#ffffcc), color-stop(25%,#a1dab4),color-stop(50%,#41b6c4),color-stop(100%,#225ea8));
 }*/
 
 table {
 	margin-top: 23%;
 	margin-left: 25%;
 	padding-bottom: 50%;
 	padding-top: 10%;
 	
 }
 
 #k {
 	font-family: "Source Sans Pro";
	margin-top: -5%;
	margin-left: -4%;
	float: left;
 }
 
 #caption {
    font-family: "Source Sans Pro";
 }
 
 #bod {
	height: 100%;
	float: right;
}
 
 #key {
 	margin-top: 60%;
 	background: #FFF;
 	position: absolute;
 	padding: 15px;
 	border: black solid 2px;
}